<md-dialog ng-cloak aria-label="dmo dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">
                    New Group
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="GroupDialogCtrl.cancel()" aria-label="close button">
                    <div class="glyphicon glyphicon-remove"></div>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <md-content layout-padding>
                    <form name="dmoConfigForm">
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <label>
                                    Name
                                </label>
                                <input ng-model="GroupDialogCtrl.group.name">
                            </md-input-container>
                        </div>
                    </form>
                </md-content>

            </div>
        </md-dialog-content>
        <md-progress-linear md-mode="indeterminate" ng-show="GroupDialogCtrl.waiting"></md-progress-linear>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="GroupDialogCtrl.add();" style="margin-right:20px;" class="md-accent">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>